<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Carrito de Compras</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>Carrito de Compras</h1>

    {{#if cart}}
      <ul id="cartList">
        {{#each cart}}
        <li class="cart-item" id="cart_item_{{this.product._id}}">
            <h3>{{this.product.title}}</h3>
            <p>
                <p>Cantidad: <span id="quantity_{{this.product._id}}">{{this.quantity}}</span></p>
            </p>
              <button onclick="updateQuantity('{{../cartId}}', '{{this.product._id}}', 'increment')">+</button>
              <button onclick="updateQuantity('{{../cartId}}', '{{this.product._id}}', 'decrement')">-</button>
              <button onclick="removeFromCart('{{../cartId}}', '{{this.product._id}}')">Eliminar</button>
        </li>
        {{/each}}
      </ul>
    <button onclick="checkoutCart('{{cartId}}')">Checkout</button>
    {{else}}
      <p>Tu carrito está vacío.</p>
    {{/if}}

    <script src="/main.js"></script>
    <script>
      console.log("Cart ID desde Handlebars:", "{{cartId}}");
    </script>
  </body>
</html>